.home-page .navbar .logo{
	text-align: center;
	width: 100%;
}
*
{
	box-sizing: border-box;
}
.navbar
{
	padding: 0 0;
}
.page 
{
	height: auto;
}
.home-page
{
	padding-top: 20px;
}
.home-page .navbar .menu
{
	display: none;
}
.home-page .content
{
	flex-direction: column;
}
.home-page .content .information *
{
	padding: 0;
	width: auto;
}
.home-page .content .information
{

	margin: 40px 0 20px 0;
	height: auto;
	align-items: center;
	padding-left: 0;	width: 100%;
}

.home-page .content .information .box
{
	margin: 10px 0;
	width: 80%;
	border: 3px solid white;
}
.home-page .content .image-container
{
	padding: 30px;
	margin-bottom:60px ;
	width: 100%;
}
.home-page .content .image-container .image-box
{
	width: 100%;
	height: auto;
	border: 10px solid white;
}
.education-page
{
	padding-top: 40px;
}
.education-page .heading:after
{
	content: "";
	display: block;
	width: 200px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	border-radius: 10px;
	transform: translateX(-50%);
	border: 2px solid white;
}
.education-page .heading
{
	position: relative;
	text-align: center;
	margin-bottom: 60px;
}

.education-page .education-content-container
{
	padding-bottom: 100px;
}
.education-page .education-content
{
	overflow-x: auto;
	width: 80%;
}
.education-page .education-content table
{
	font-size: 20px;
	width: 100%;

}

.education-page .education-content table tr td
{	
	padding: 10px 20px;
}

.education-page .education-content table *
{
	width: 200px;
}
.education-page .education-content table tr td svg
{
	display: none;
}


.education-page .education-content table tr:nth-child(even)
{
	background: #aaa5;
} 
.education-page .education-content table tr td 
{
	position: relative;
}
.education-page .education-content table tr td p
{
	position: absolute;
	top: 10%;
	left: 10%;

}
.skills-page
{
	background: linear-gradient(#FF0033,#6A2B38);
}
.skills-page .heading:after
{
	content: "";
	display: block;
	width: 200px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	border-radius: 10px;
	transform: translateX(-50%);
	border: 2px solid white;
}
.skills-page .heading
{
	position: relative;
	text-align: center;
}
.skills-page
{
	padding-top: 40px;
}
.skills-page .skills-content
{
	margin-top: 50px;
	padding: 20px 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.skills-page .skills-content .section
{
	width: 90%;
}
.skills-page .skills-content .section h2:after
{
	content: "";
	display: block;
	position: absolute;
	bottom: -10px;
	
	width: 100%;
	height: 3px;
	background: white;
}
.skills-page .skills-content .section h2
{
	width: 50%;
	margin-bottom: 20px;
	position: relative;
}
.skills-page .skills-content .section ul
{
	margin-top: 50px;
	list-style: none;
}
.skills-page .skills-content .section ul li
{
	margin: 20px 0;
}
.skills-page .skills-content .section ul li *
{
	display: inline-block;
}
.skills-page .skills-content .section ul li .outer
{
	overflow: hidden;
	width: 200px;
	border-radius: 5px;
	height: 10px;
	background: #0004;
}
.skills-page .skills-content .section ul li .outer .inner 
{
	display: block;
	width: var(--percent);
	height: 100%;
	border-radius: 5px;
	background: white;
}